/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .bg_primary-color {
    background-color: #FFFFFF;
  }
  .primary-color {
    background-color: #FFFFFF;
  }
  .bg_secondary-color {
    background-color: #293241;
  }
  .secondary-color {
    color: #293241;
  }
  .custom-button.btn {
    background-color: #293241;
    color: #FFF;
    border: none;
  }
  .custom-button.btn:hover {
    color: #FFF !important;
    border: none;
  }
  .hero {
    width: 100vw;
    height: 50vh;
  }
  .hero img {
    object-fit: cover;
    object-position: top;
    height: 100%;
    width: 100%;
  }
  .overlay {
    height: 100%;
    width: 100%;
    opacity: 0.4;
  }

  body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  
  .bold{
    font-weight: bold;
  }

  .winner{
    border: 2px solid red;
  }